<!--<mat-toolbar>
  <button mat-button (click)="toggleSideNav()">Menu</button>
</mat-toolbar>-->
<nav>
<h1 class="pageTitle text-center">{{pageTitle | titlecase}}</h1>
</nav>
<div class="conatiner collectionsort row">
    <div class="collectionsort row">
        <div class="col-xs-8 col-sm-8 listsortSection row">
            <app-collectionsort-description></app-collectionsort-description>
        </div>  
        <div class="col-xs-4 col-sm-4 listsortSection"><app-listsort></app-listsort></div>  
    </div>
    <div class="collectionsort row">
        <div class="col-xs-12 col-sm-12 tablesortSection"><app-tablesort></app-tablesort></div>
    </div>    
</div>
<footer>
  {{projectTitle | titlecase}}
  <span class="float-right">&copy; 2018 Developed by Icyfirefists.</span>
</footer>
